# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

bin/

.idea

.settings

# Ignore relation's files
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
*.toc

#ignore leaderboard
File.txt